# In dev, copy this file to '.env' and fill in dev API Keys

TELEGRAM_BOT_API_KEY=XXX

ELEVEN_API_KEY=XXXX # speach to text using a specific voice sample
OPEN_AI_KEY=sk-GPT-4-API-KEY
PINECONE_API_KEY=XXXXX # vector database
DATABASE_URL=postgresql://chatstate@localhost:5432/chatstate

DEV=1 # NOTE: Don't want this set in prod
